# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local
.env.production

# typescript
*.tsbuildinfo

# Android
android/

# iOS
ios/

app-example
docs/*.md
**/repomix-output.txt
backup.sql

src/components/leaderboard/tests/__snapshots__/LeaderboardEntry.test.tsx.snap
src/components/leaderboard/tests/mocks/leaderboardData.ts
src/components/leaderboard/tests/mocks/leaderboardService.ts
src/components/leaderboard/tests/Leaderboard.test.tsx
src/components/leaderboard/tests/LeaderboardEntry.test.tsx
src/hooks/__tests__/
src/services/__mocks__
src/__tests__/
database_schema.sql
my_dump.sql
.env.prod
